@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --primary-text-color: white;
    --secondary-text-color: #C0C0C0;
    --button-color: #167BF7;
    --background-color: #00030C;
    --main-font: 'Inter';
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: var(--main-font);
    font-size: 1rem;
    font-weight: 400;
}

.header {
    background-image: url("./assets/background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container__button {
    background-color: var(--button-color);
    border-radius: 5px;
    padding: 1em;
    text-decoration: none;
    color: var(--main-text-color);
    display: block;
    margin-bottom: 1em;
}

.container__button_secondary {
    background-color: transparent;
    border: 2px solid var(--main-text-color);
}

.container__warning {
    font-size: 0.75rem;
    color: var(--secondary-text-color);
}

.container__title {
    font-size: 1.75rem;
    font-weight: 700;
}

.container__image {
    margin: 1em 0 2em 0;
}

.container__box {
    margin: 0 6em;
}

.platforms__image {
    width: 80%;
}

.secondary {
    align-items: center;
    margin: 0 10em;
}

.secondary_description_title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--main-text-color);
    margin-bottom: 0.1em;
}

.secondary_description_text {
    color: var(--secondary-text-color);
}

.secondary__button {
    display: inline-block;
    margin-top: 1em;
}

.secondary__description {
    padding: 2em;
}

.devices__list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.devices {
    text-align: center;
}

.devices__tile {
    font-size: 4rem;
}

.devices__list__item {
    font-size: 2rem;
}

.footer {
    text-align: center;
    margin: 5em 3em;
}

.footer__logo {
    align-self: center;
}

.footer__links {
    list-style: none;
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}

.footer__links__link a{
    color: var(--main-text-color);
    text-decoration: none;
    margin-left: 1em;
}

.footer__text {
    margin: 1em 0;
    color: var(--secondary-text-color);
    font-size: 0.875rem;
}